[submodule "plugins/zsh-syntax-highlighting"]
	path = plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
	shallow = true

[submodule "plugins/zsh-pyenv"]
	path = plugins/zsh-pyenv
	url = https://github.com/mattberther/zsh-pyenv
